* {
	font-family: sans-serif;
}

#content {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.form {
	padding: 5px;
	border: 1px solid black;
}

#vis {
	height: 800px;
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-color: #000000;
}

#tooltip {
	position: absolute;
	max-width: 260px;
	padding-left: 10px;
	padding-right: 10px;
	font: 11px sans-serif;
	background: #ffe0c7;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.node:hover
{
	stroke: #ffffff;
	stroke-width: 4px;
	vector-effect: non-scaling-stroke;
}